<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bvrith2018</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">98555</property>
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
  	<mapping class="com.rest.dto.Admin"/>
    <mapping class="com.rest.dto.Food"/>
    <mapping class="com.rest.dto.Table_book"/>
    <mapping class="com.rest.dto.Restaurant"/>
    <mapping class="com.rest.dto.Orders"/>
    <mapping class="com.rest.dto.Customer"/>
    <mapping class="com.rest.dto.Cart"/>
    <mapping class="com.rest.dto.OrderDetails"/>
    <mapping class="com.rest.dto.BookingDetails"/>
    <mapping class="com.rest.dto.Rating"/>
  </session-factory>
</hibernate-configuration>